<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/person.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="containerMain">
        <aside>
            <ul>
                <li>first</li>
                <li>first</li>
                <li>first</li>
            </ul>
        </aside>
        <div style="background-color:orangered;
    width:80%;
    float:left;">
            @RenderBody()
        </div>
    </div>
</body>
</html>
