<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/person.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="containerMain">
        <aside>
            <p>Это приложение представляет некий интерфейс для работы с данными, что-то вроде записаной адресной книги.</p>
           <p>Вы можете добавлять (обратите внимание, что при добавлении нового пользователя телефонный номер уникален и не может повторяться у нескольких пользователей), изменять и удалять записи. Также представлена возможность фильтрации данных по основным полям и пагинация</p>
        </aside>
        <div class="secondClass">

        </div>
        <div class="renderContainer">
            @RenderBody()
        </div>
    </div>
</body>
</html>
