
.container1 aside{
    float:left;
    width:15%;
    background-color:red;
}
.container1 div{
    float:left;
    width:85%;
    background-color:lightgrey;
}
footer{
    clear:both;
    background-color:aqua;
}